@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(78.15deg, #8E5D52 42.62%, #2F2325 95.61%)

}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabecalho-logotipo {
    height: 100px;
}
.cabecalho-navegacao {
    display: flex;
    gap: 32px;
}
.cabecalho-item-menu {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
    transition: 0.5s;
}
.cabecalho-item-menu:hover {
    color: #dacfc6c2;
}

.conteudo {
    border-top: solid 0.4px #FFF2E7;
    margin-bottom: 48px;
}
.conteudo-principal {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.conteudo-principal-texto {
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
}
.conteudo-principal-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    color: #ECD6C4;
    font-size: 24px;
}
.conteudo-principal-botao {
    background-color: #ECD6C4;
    width: 185px;
    height: 67px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #2F2325;
    transition: 0.5s;
    cursor: pointer;
}
.conteudo-principal-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);

}

.conteudo-principal-imagem {
    height: 430px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.conteudo-secundario-texto {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
    margin-bottom: 16px;
}
.conteudo-secundario-paragrafo {
    font-family: 'Sarala', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ECD6C4;    
}

.rodape {
    padding: 32px;
    border-top: 0.3px solid #FFF2E7;
}

.imagem-rodape {
    height: 48px;
    display: block;
    margin: 0 auto;
}